body {
    background-image: url("background.png") ;
}
#user_name {
    width: 300px;
    margin-top: 100px;
}
#room_name {
    width: 300px;
    margin-top: 100px;
}
label {
    font-size: 30px;
}
.user_tick {
    width : 20px;
}